body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-color: burlywood;
    font-family: arial;
    font-size: 200%;
    color: white;
}
h1 {
    font-size: 100%;
    text-decoration: None;
}
h2 {
    font-size: 200%;
    margin: 0px;
}
button {
    width: 9%;
    aspect-ratio: 1 / 1;
    font-size: 80%;
}
