body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-color: burlywood;
    font-family: arial;
    font-size: 400%;
    color: white;
}
h1 {
    font-size: 100%;
    text-decoration: None;
}
h2 {
    font-size: 200%;
    margin: 0px;
}
button {
    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 0px;
    margin: 0;
}

#big {
    width: 15%;
    font-size: 75%;
}

#mid {
    width: 10%;
    font-size: 45%;
}

#small {
    width: 5%;
    font-size: 15%;
}

#button-row {
    display: flex;
    gap: 0px;
    margin: 0px 0px;
    justify-content: center;
}
